<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="All">
    <listeners>
        <listener class-name="helpers.FailedTestsListener" />
    </listeners>
    <test name="a-t1">
        <classes>
            <class name="tests.Login" />
            <class name="tests.ProfileEditing" />
        </classes>
    </test>
</suite>